@import 'reset';
@import 'fonts';

$light: 'robotolight'
$regular: 'robotoregular'
$bold: 'roboto_condensedbold'

body
    font-family: $light
    color: #000
    font-size: 16px
    background: #f5f5f5
.container
    width: 1200px
    margin: 0 auto
    padding: 0 15px

.fade-enter-active, .fade-leave-active 
  transition: opacity .3s

.fade-enter, .fade-leave-to 
  opacity: 0



        